@import '~antd/dist/antd.min.css';

body {
  margin: 0;
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem !important;
}

code {
  font-family: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  overflow-x: hidden !important;
}

.ant-layout, footer, .ant-layout-footer {
  background: #fff !important;
}

.App {
  min-height: 100vh;
}

.container {
  min-height: 79vh;
  padding: 24px 20px;
}

.article img {
  width: 100%;
}

.article pre {
  font-size: 14px;
  /* background: #eeeeee;
  padding: 12px 16px; */
}

/* .article :not(pre) code {
  background: #eeeeee;
  padding: 12px 16px;
} */

.ant-typography ol li, .ant-typography ul li {
  margin: 0 8px 0 0 !important;
  padding: 0 !important;
}