@import '~antd/dist/antd.min.css';

body {
  margin: 0;
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem !important;
}

code {
  font-family: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  overflow-x: hidden !important;
}

.ant-layout, footer, .ant-layout-footer {
  background: #fff !important;
}

.App {
  min-height: 100vh;
}

.container {
  min-height: 79vh;
  padding: 24px 20px;
}